/* styles.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #3a6186,#89253e);
    color: white;
}

.clock-container {
    text-align: center;
    background: rgba(0, 0, 0,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
}

#time {
    font-size: 48px;
    font-weight: bold;
}

#date, #day {
    font-size: 24px;
    margin-top: 10px;
}